/* Global Styles */
html {
  background-color: #FF7361;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container Styles */
.modal-wrap {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  transition: transform 300ms ease-in-out;
}

/* Modal Body */
.modal-bodies {
  position: relative;
  perspective: 1000px;
}

.modal-body {
  background: white;
  padding: 40px;
  box-sizing: border-box;
  display: none;
  width: 100%;
  transform-origin: top left;
}

.modal-body.is-showing {
  display: block;
  flex-direction: column;
  gap: 15px;
}

/* Text Styles */
.title {
  text-transform: uppercase;
  text-align: center;
  color: #333;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

/* Input Styles */
input[type="email"],
input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #0056b3;
}

/* Button Styles */
.button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 75%;
}

.button:hover {
  background-color: #0056b3;
}

.text-center {
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Link Styles */
a {
  text-decoration: none;
  color: inherit;
}
