<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Error - Forum01">
    <meta name="robots" content="noindex, nofollow">
    <title>Error - Forum01</title>
    <link href="/static/css/mystyle.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="navbar-menu-left-side239">
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="error-section">
        <div class="container text-center">
            <div class="error-content">
                <h1 class="animated fadeInDown">{{ .Err }}</h1>
                <h2 class="animated fadeInUp">{{ .Name }}</h2>
                <p class="animated fadeInUp">
                    {{ .Messages }}
                </p>
                <a href="/" class="btn btn-danger animated bounceIn"><i class="fa fa-home"></i> Return to Homepage</a>
            </div>
        </div>
    </section>

    <section class="footer-part">
        <div class="container">
            <p>&copy; 2024 Forum01. All Rights Reserved.</p>
        </div>
    </section>
    <style>
       
    </style>
</body>

</html>
