<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="title" content="01-Forum" />
  <meta name="robots" content="index, nofollow" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="language" content="English" />
  <title>01-Forum</title>
  <link rel="icon" type="image/png" href="/static/img/forum.png" />
  <link href="/static/css/css_style.css" rel="stylesheet" type="text/css" />
  <noscript>
    <meta http-equiv="refresh" content="0;url=/javascript">
  </noscript>
</head>

<body onload="fetchData()">
  <div class="top-bar">
    <div class="container">
      <div class="navbar-menu-left-side239">
        <ul id="navbar-links"></ul>
      </div>
    </div>
  </div>
  <section class="welcome-part-one">
    <div class="container">
      <h2>Welcome to <div class="top">
          <h1><a href="/"> <span style="color: blue;">01</span>-<img src="/static/img/letter-f.png" alt="01-Forum logo"
                style="width: 57px; height: auto; vertical-align:middle;">orum</a>
          </h1>
        </div> Your Hub for Insightful Discussions</h2>
      <p>
        Have questions that need answers? Or perhaps an idea worth sharing?
        01-Forum is the perfect place to exchange knowledge, get inspired, and
        explore new perspectives.
      </p>
      <div id="join-now-button"></div>
    </div>
  </section>
  <section class="main-content920 container">
    <div id="main">
    </div>

    <aside class="sidebar97239">
      <div id="user-info"></div>
      <div id="filter-posts-section"></div>

      <div class="categori-part329">
        <h4>Category</h4>
        <ul id="category-list" class="cate"></ul>
        <button class="resetCategorie userlogin320">Reset Category</button>
      </div>
    </aside>
  </section>

  <section class="footer-part">
    <div class="container"></div>
  </section>
</body>
<script src="/static/js/script.js"></script>
<script src="/static/js/filter.js"></script>
<script src="/static/js/main.js"></script>

</html>