<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="title" content="Ask online Form"> 
  <meta name="robots" content="index, nofollow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <title>Forum01 - Login</title>
  <link rel="icon" type="image/png" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="/static/css/loginstyle.css">
</head>

<body>

  <div class="modal-wrap">

    <div class="modal-bodies">
      <div class="modal-body modal-body-step-1 is-showing">
        <div class="title">Log In</div>
        <div class="description">Hello there, Log In</div>
        <form action="/login" method="post">
          <input type="email" name="email" placeholder="email" autocomplete="on" id="email" required />
          <span class="errorMsg">{{ .email }}</span>
          <input type="password" name="password" placeholder="password" id="password" required />
          <span class="errorMsg">{{ .password }}</span>
          <div class="text-center">
            <button type="submit" class="button">LOG IN</button>
            <a href="/register">
              <div class="button">Create an account</div>
            </a>
          </div>
        </form>
      </div>


    </div>
  </div>
</body>
</html>