<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="title" content="Ask online Form">
  <meta name="robots" content="index, nofollow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <title>Forum01 - Register</title>
  <link rel="icon" type="image/png" href="/static/img/forum.png">
  <link href="/static/css/loginstyle.css" rel="stylesheet" type="text/css">
  <noscript>
    <meta http-equiv="refresh" content="0;url=/javascript">
  </noscript>

</head>

<body>
  <div class="modal-wrap">
    <div class="modal-bodies">
      <div class="modal-body modal-body-step-1 is-showing">
        <div class="title">Sign Up</div>
        <div class="description">Hello there, Register Form</div>
        <form method="POST" onsubmit="validateRegistrationForm(event)">
          <input type="text" name="Username"  autocomplete="on" placeholder="Username*" required/>
          <span class="errorMsg">{{ .username }}</span>
          <input type="email" name="email"  autocomplete="on" placeholder="E-Mail*" required/>
          <span class="errorMsg">{{ .email }}</span>
          <input type="password" name="password" placeholder="Password*" required/>
          <span class="errorMsg">{{ .password }}</span>
          <input type="password" name="Confirm-Password" placeholder="Confirm Password*" required/>
          <span class="errorMsg">{{ .conPassowrd }}</span>
          <div class="text-center">
            <button type="submit" class="button">Sign Up</button>
            <a href="/login">
              <div class="button">Already Have one ?</div>
            </a>
          
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<script src="/static/js/login_registration_validation.js"></script>
</html>