<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Forum | Login</title>
    <link rel="icon" type="image/png" href="/static/img/forum.png">
    <link rel="stylesheet" href="/static/css/css_signUp.css">
    <noscript>
        <meta http-equiv="refresh" content="0;url=/javascript">
    </noscript>
</head>

<body>
    <div class="top">
        <h1><span style="color: blue;">01</span>-<img src="/static/img/letter-f.png"
                style="width: 35px; height: auto; vertical-align: text-top;">orum
        </h1>
    </div>

    <form class="loginForm">
        <div class="login">

            <h1>Welcome back</h1>
            <span class="welcome">Whe're so excited to see you again!</span>
            <p id="otherErr"></p>
            <div>
                <label>EMAIL <span style="color: red;">*</span></label>
                <input type="email" placeholder="Enter your email address..." name="email" required>
                <p id="emailErr"></p>
            </div>
            <div>
                <label>PASSWORD <span style="color: red;">*</span></label>
                <input type="password" placeholder="Enter your Login password..." name="passwd" required>
                <p id="passwdErr"></p>
            </div>
            <input type="submit" value="Login">
        </div>
        <div class="info">
            <span>New here?
                <a href="/register">Sign up here <span style="font-size: 20px;font-weight: bolder;">→</span></a>
            </span>
        </div>
    </form>
</body>
<script src="/static/js/login_validation.js"></script>

</html>