<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <title>01-Forum | Ask Your Question</title>
    <link rel="icon" type="image/png" href="/static/img/img_forum.png" />
    <link href="/static/css/css_style.css" rel="stylesheet" type="text/css">
    <noscript>
        <meta http-equiv="refresh" content="0;url=/javascript">
    </noscript>
</head>

<body>
    <div class="top-bar">
        <div class="container">
            <div class="navbar-menu-left-side239">
                <ul>
                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                    {{ if .LoggedIn }}
                    <li><a href="/create"><i class="fa fa-pencil" aria-hidden="true"></i> Create A Post</a></li>
                    <li><a href="/logout"><i class="fa fa-user" aria-hidden="true"></i> Log Out</a></li>
                    {{ else }}
                    <li><a href="/login"><i class="fa fa-user" aria-hidden="true"></i> Login Area</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>

    <section class="welcome-part-one">
        <div class="container">
            <h2>Ask Your Question</h2>
            <p>Have a question that needs answers? Fill out the form below to get help from the community.</p>
        </div>
    </section>

    <section class="container">
        <div class="main-content">
            <div class="question-type2033">
                <h4>Ask Question</h4>
                <hr>
                <form action="/createPost" method="post" id="postForm" enctype="multipart/form-data">
                    <div class="input-group300">
                        <input type="text" name="title"  class="namein309"
                            placeholder="Write Your Question Title">
                        <div class="error-message" id="title-error"></div>
                    </div>

                    <div class="categori-part329">
                        <span>Category*</span>
                        <div class="category-grid">
                            {{ range .categories }}
                            <label>
                                <input type="checkbox" name="category" value="{{ .ID }}" />
                                <span class="custom-checkbox">{{ .Name }}</span>
                            </label><br>
                            {{ end }}
                        </div>
                        <div class="error-message" id="category-error"></div>
                    </div>

                    <div class="input-group300">
                        <textarea name="textarea" id="textarea" class="passin309" rows="5" 
                            placeholder="Describe your question in detail"></textarea>
                        <div class="error-message" id="textarea-error"></div>
                    </div>
                    <div class="image-upload-container">
                        <label for="imageUpload" class="image-upload-label">Upload Image</label>
                        <input type="file" id="imageUpload" name="imageUpload"  />
                        <img id="imagePreview" class="image-preview" src="#" alt="Image Preview" style="display: none;" />
                    </div>
                    <div class="button0239-item">
                        {{ if .LoggedIn }}
                        <button type="submit" class="userlogin320">Publish your Question</button>
                        {{ else }}
                        <button type="button" onclick="clickToLogin()" class="userlogin320">You should be logged
                            in</button>
                        {{ end }}
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="footer-part">
        <div class="container">
        </div>
    </section>

    <script src="/static/js/js_post_validation.js"></script>
    <script src="/static/js/js_main.js"></script>
</body>

</html>