<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/css_style.css" rel="stylesheet" type="text/css" />
    <title>01-Forum - Post Details</title>
    <link rel="icon" type="image/png" href="/static/img/img_forum.png" />
    <noscript>
      <meta http-equiv="refresh" content="0;url=/javascript" />
    </noscript>
  </head>

  <body>
    <div class="top-bar">
      <div class="container">
        <div class="navbar-menu-left-side239">
          <ul>
            <li>
              <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            {{ if .LoggedIn }}
            <li>
              <a href="/create"
                ><i class="fa fa-pencil" aria-hidden="true"></i> Create A
                Post</a
              >
            </li>
            <li>
              <a href="/logout"
                ><i class="fa fa-user" aria-hidden="true"></i> Log Out</a
              >
            </li>
            {{ else }}
            <li>
              <a href="/login"
                ><i class="fa fa-user" aria-hidden="true"></i> Login Area</a
              >
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    <section class="main-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="post-details">
              <div class="details-header">
                <div class="row">
                  <div class="col-md-8">
                    <h3>{{ .posts.Title }}</h3>
                  </div>
                </div>
              </div>
              <div class="post-details-content">
                <p>{{ .posts.Content }}</p>
                <hr />
                <div class="post-footer">
                  <div class="left-section">
                    <i class="fa fa-user"> {{ .posts.Username }} </i>
                    <i class="fa fa-clock-o"> {{ .posts.FormattedDate }} </i>
                    <i class="fa fa-hashtag"> {{ .posts.CategoryName }} </i>
                  </div>
                  <div class="right-section">
                    {{ if .LoggedIn }}
                    <button
                      class="button like"
                      onclick="handleLikeDislike('{{ .posts.PostID }}', 'like', event)"
                    >
                      <span id="{{ .posts.PostID }}-like"
                        >👍{{.posts.LikeCount}}</span
                      >
                    </button>
                    <button
                      class="button like"
                      onclick="handleLikeDislike('{{ .posts.PostID }}','dislike', event)"
                    >
                      <span id="{{ .posts.PostID }}-dislike"
                        >👎{{ .posts.DisLikeCount }}</span
                      >
                    </button>
                    {{ else }}
                    <button class="button like">
                      <span id="{{ .posts.PostID }}-like"
                        >👍{{.posts.LikeCount}}</span
                      >
                    </button>
                    <button class="button like">
                      <span id="{{ .posts.PostID }}-dislike"
                        >👎{{ .posts.DisLikeCount }}</span
                      >
                    </button>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="comment-form">
              <h3>Leave A Reply</h3>
              <form
                method="post"
                id="commentForm"
                onsubmit="SubmitComment(event)"
              >
                <textarea
                  name="textarea"
                  required
                  placeholder="Enter Your Post"
                  class="comment-textarea"
                  id="textarea"
                ></textarea>
                <div class="error-message" id="textarea-error"></div>
                {{ if .LoggedIn }}
                <button type="submit" class="btn-publish">
                  Publish your Comment
                </button>
                {{ else }}
                <button
                  type="button"
                  onclick="clickToLogin(event)"
                  class="btn-publish"
                >
                  You should Be Logged
                </button>
                {{ end }}
              </form>
            </div>
            <div class="comment-section">
              {{ if .LoggedIn }} {{ if not .comment }}
              <div class="nothing">
                <p>No comments yet. Be the first to comment!</p>
              </div>
              {{ else }} {{ range .comment }}
              <div class="comment">
                <div class="comment-header">
                  <h6>{{ .Username }}</h6>
                  <i class="fa fa-clock-o">{{ .FormattedDate }}</i>
                </div>
                <div class="comment-body">{{ .Content }}</div>
                <div class="comment-footer">
                  <button
                    class="button like"
                    onclick="handleLikeDislike('{{ .CommentID }}', 'likeComment', event)"
                  >
                    <span id="{{ .CommentID }}-likecomment"
                      >👍{{ .LikeCountComment }}</span
                    >
                  </button>
                  <button
                    class="button like"
                    onclick="handleLikeDislike('{{ .CommentID }}', 'dislikeComment', event)"
                  >
                    <span id="{{ .CommentID }}-dislikecomment"
                      >👎{{.DisLikeCountComment}}</span
                    >
                  </button>
                </div>
              </div>
              {{ end }} {{ end }} {{ else }} {{ if not .comment }}
              <div class="no-comments">
                <div class="nothing">
                  <p>No comments yet. Be the first to comment!</p>
                </div>
              </div>
              {{ else }} {{ range .comment }}
              <div class="comment">
                <div class="comment-header">
                  <h6>{{ .Username }}</h6>
                  <i class="fa fa-clock-o">{{ .FormattedDate }}</i>
                </div>
                <div class="comment-body">{{ .Content }}</div>
                <div class="comment-footer">
                  <button class="button like">
                    <span id="{{ .CommentID }}-likecomment"
                      >👍{{ .LikeCountComment }}</span
                    >
                  </button>
                  <button class="button like">
                    <span id="{{ .CommentID }}-dislikecomment"
                      >👎{{.DisLikeCountComment}}</span
                    >
                  </button>
                </div>
              </div>
              {{ end }} {{ end }} {{ end }}
            </div>
            <hr>
            {{ if and (.comment) (gt (index .comment 0).TotalCount 5)}}
            <button class="button load-more-btn">Load More...</button>
            {{ end }}
          </div>
        </div>
      </div>
    </section>

    <section class="footer-part">
      <div class="container"></div>
    </section>
  </body>
  <script src="/static/js/js_comment_validation.js"></script>
  <script src="/static/js/js_script.js"></script>
  <script src="/static/js/js_main.js"></script>
</html>
